.App {
  text-align: center;
  background-color: white;
  max-width: 100%;
  min-height: 2829px;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */



.navbar{
  min-height: 126px;
  background-color: white;
  display: flex;
  justify-content: center;
  /* width: 1440px; */
}

.header{
  display: flex;
  width: 1920px;
  justify-content: center;
  min-height: 406px;
  background-color: #495E57;
}

.main{
  min-height: 717px;
}

.reviews{
  background-color: #b9b9b9;
  min-height: 590px;
}

.about{
  min-height: 579px;
}

.footer{
  min-height: 417px;
  background-color: #333333;
}

.header2 {
  display: flex;
  width: 63vw;
}

.subdiv1 {
  text-align: start;
  font-size: large;
  position: static;
  width: 20vw;
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  
}

.subdiv2 {
  position: absolute;
  display: flex;
  left: 61vw;
  top: 19vh;
  width: 40vw;
}

.image1{
  border: 0px solid;
  border-radius: 2%;
}

.button1 {
  background-color: #F4CE14;
  color: black;
  border: 0px solid black;
  border-radius: 15px;
  width: 15vw;
  height: 5vh;
  font-size: larger;
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  margin-top: 8vh;

}

.subdiv1 h1{
  height: 6vh;
  font-size: 4em;
  color: #f4cf14b4;
}

.subdiv1 h2{
  font-size: 2.5em;
  color: rgb(245, 244, 244);
}

.subdiv1 p{
  font-size: 1.5em;
  color: rgb(245, 244, 244);
}