.App {
  text-align: center;
  background-color: white;
  max-width: 100%;
  min-height: 2829px;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */



.navbar{
  min-height: 126px;
  background-color: white;
  display: flex;
  justify-content: center;
  /* width: 1440px; */
}

.header{
  display: flex;
  width: 1920px;
  justify-content: center;
  min-height: 406px;
  background-color: #495E57;
}

.main{
  min-height: 717px;
  max-height: 717px;
  display: flex;
  justify-content: center;
}

.reviews{
  background-color: #b9b9b9;
  min-height: 590px;
}

.footer{
  min-height: 417px;
  background-color: #333333;
}

.header2 {
  display: flex;
  width: 63vw;
}

.subdiv1 {
  text-align: start;
  font-size: large;
  position: static;
  width: 20vw;
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
}

.subdiv2 {
  position: absolute;
  display: flex;
  left: 60.7vw;
  top: 19vh;
  width: 40vw;
}

.image1{
  border: 0px solid;
  border-radius: 4%;
}

.button1 {
  background-color: #F4CE14;
  color: black;
  border: 0px solid black;
  border-radius: 15px;
  width: 15vw;
  height: 5vh;
  font-size: 1.5em;
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  margin-top: 8vh;

}

.subdiv1 h1{
  height: 6vh;
  font-size: 4em;
  color: #f4cf14b4;
}

.subdiv1 h2{
  font-size: 2.5em;
  color: rgb(245, 244, 244);
}

.subdiv1 p{
  font-size: 1.5em;
  color: rgb(245, 244, 244);
}

.cardsec {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0vh;

}

.main2 {
  width: 63vw;
  display: flex;
  flex-direction: column;
}



.textsec {
  display: flex;
  height: 18vh;
  justify-content: space-between;
}

.button2 {
  background-color: #F4CE14;
  color: black;
  border: 0px solid black;
  border-radius: 15px;
  width: 10vw;
  height: 5vh;
  font-size: 1.5em;
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  margin-top: 10vh;
}

.textsec h1 {
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  font-size: 5em;
  margin-top: 7vh;
}

.css-iqyly9 {
  height: 19vh;
}

.raiting {
  display: flex;
}

.about{
  display: flex;
  min-height: 579px;
  justify-content: center;
  /* background-color: #EDEFEE; */
}

.about2 {
  display: flex;
  width: 63vw;
  justify-content: space-between;
}

.image2 {
  height: 30vh;
  top: 72%;
  right: 24%;
  position: absolute;
  border: 0px solid;
  border-radius: 5%;
}

.image3 {
  position: absolute;
  right: 19%;
  top: 66%;
  height: 30vh;
  border: 0px solid;
  border-radius: 5%;
}

.aboutcontent {
  font-family: 'Markazi Text';
  src: url(/fonts/MarkaziText.ttf);
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: start;
}

.aboutimage {
  display: flex;
}

.aboutcontent h1 {
  font-size: 5em;
}

.aboutcontent h2 {
  font-size: 3em;
}

.aboutcontent p {
  font-size: 1.5em;
}